/* Color de fondo de página */
body{
    margin: 0;
    padding: 0;
    background-color: black;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

/* Configuración del header. Se agrega animación al nombre del gimansio y se elije una letra de Google Fonts acorde al tipo de actividad que se desarrolla (fight). Se usó un display flex para poder ubicar los elementos*/
.contenedor_header{
    margin: 5px;
    background-color: tomato;
    border-radius:10px;
    border-color: black;
    border-style: dotted;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}
.contenedor_header span.animate__rubberBand{
    font-family: 'Anton', sans-serif, 'Bebas Neue', sans-serif, 'Russo One', sans-serif, 'Titillium Web', sans-serif;
    font-size: 3.5em;
}
.logoder{
    float: right;
}
.logoizq{
    float: left;
}

/* El nav se lo crea con un contenedor de clase "navbar" para aplicar diseño con Grid. Se usó flaticon para cada menú de la barra */
.navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: whitesmoke;
    text-align: center;
    padding:10px;
}
.navbar a img {
    font-size: 20%;
}


/* no entiendo por que no se aplican los bordes */

table,
th,
td{
    border: solid green;
}

/* para expandir la imagen de contacti */

.imagen-expansible {
    text-align: center;
}

#mi-imagen {
    width: 200px; /* Tamaño inicial de la imagen */
    transition: width 0.5s; /* Animación de transición suave */
}

#boton-expandir {
    margin-top: 10px;
    cursor: pointer;
}
/* ------------------------------------------------- */